
@{
    ViewBag.Title = "ServicesList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>ServicesList</h2>
<div class="panel panel-default">
    <div class="panel-heading">

    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover portfolio">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>OurServiceAboutID</th>
                        <th>OurServiceName</th>
                        <th>OurServiceAbout</th>
                        <th>OurServicePhoto</th>
                        <th></th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.OurServiceID</td>
                            <td>@item.OurServiceAboutID</td>
                            <td>@item.OurServiceName</td>
                            <td>@item.OurServiceAbout</td>
                            <td class="tchr-td-img">
                                <div>
                                    <img style="width:50px;" src="~/assets/images/@item.OurServicePhoto" />
                                </div>
                            </td>
                            <td style='width: 105px; ' class='text-center'><a href="../../Admin/ServicesEdit/@item.OurServiceID"><i style='margin: 0px 10px; font-size:18px; ' class='fa fa-pencil'></i></a></td>
                            <td style='width: 105px;' class='text-center'><a href="../../Admin/ServicesDelete/@item.OurServiceID"><i style='margin: 0px 10px; font-size:18px;' class='fa fa-trash-o'></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

