
@{
    ViewBag.Title = "TeamAdmin";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2 style="color:#000; font-weight:600;margin-bottom:50px;">
    Team
</h2>
<div class="ABOUT">

    <form action="~/Admin/TeamAdmin" method="post" enctype="multipart/form-data">
        <div class="form-group col-md-3">
            <label>TeamName</label>
            <input name="TeamName" value="" type="text" class="form-control" />
        </div>
        <div class="form-group col-md-3">
            <label>TeamPosition</label>
            <input name="TeamPosition" value="" type="text" class="form-control" />
        </div>
        <div class="form-group col-md-3">
            <label>TeamAbout</label>
            <textarea required autocomplete="on" style="width: 230px; height: 100px;" runat="server" class="form-control" rows="3" id="text" name="TeamAbout"></textarea>
        </div>
        <div class="form-group col-md-3">
            <label>Photo</label>
            <input name="TeamPhoto" type="file" class="form-control" required autocomplete="on" />
        </div>
        <button type="submit" class="btn btn-success" style="margin-top:20px;">Change Button</button>
    </form>
</div>
<style>
    .ABOUT input {
        width: 230px;
        height: 100px;
    }
</style>

